
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-size: cover;
    background-position: center;
}

.workout-holder{
    height: 95vh;
    width: 200vh;
    margin-top: 1em;
    display: flex;
    overflow: auto;
    gap: 1em;
    flex-direction: column;
    scroll-snap-type: y mandatory;
}

.workout-holder::-webkit-scrollbar{
    display: none;
}

.workout-holder .scroll{
    min-height: 75vh;
    min-width: 25vw;
    background-color: gray;
    scroll-snap-align: start;
}

.movingbtn {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px; 
    box-sizing: border-box; 
}

.movingbtn button{
    width: 120px;
    height: 60px;
    background: white;
    border: none;
    outline: none;
     border: 2px solid black;
    border-radius: 40px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
}